@model Calculator.BL.MathematicModel
<div class="row">
    <div class="col-md-4">
        <h2>Calculator</h2>
    </div>
    <div class="col-md-4">
        <h2>Let me see...</h2>
        @using (Html.BeginForm("Calculate", "Home"))
        {
            <div>@Html.EditorFor(m => m.First)</div>
            <div>
                <select id="operation" name="operation">
                    <option value="add">+</option>
                    <option value="subtract">-</option>
                </select>
            </div>
            <div>@Html.EditorFor(m => m.Second)</div>
            <input type="submit" value="Calculate" id="btnCalculate" class="btn btn-default"/>
        }
    </div>
    <div class="col-md-4">
    </div>
</div>


